/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import url(components/banner.css);
@import url(components/buttons.css);
@import url(components/cards.css);
@import url(components/container.css);
@import url(components/footer.css);

/* Utilities */
body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Silkscreen', cursive;
}

h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Silkscreen', cursive;
  font-weight: bold;
}

a {
  text-decoration: none;
  border-color: 3px black;
}

/* Custom design below! */

.text-center {
  text-align: center;
}

#hasbu{
  height: 80px;
  border-radius: 20px;
}
