.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
}

.banner p {
  color: whitesmoke;
  border: goldenrod 5px;
  opacity: 200;
  font-size: 20px;
}
